body {
    width: 100%;
}

main,header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;    
}

#main-logo img {
    width: 100%;
}
  
#main-logo {
    width: 15%;
}
  
#main-header-text {
    width: 82%;
    margin: 1%;
}  

  #main-header-text>h1 {
    text-align: right;
  }
  
  #main-header-text>p.main-caption-font {
    text-align: right;
    line-height: 1.0em;
  }

  #bottom-main-part {
    width:100%;
    border-bottom-color: #7d97ad;
    border-bottom-style: groove;
  }

  picture#main-display img {
    filter: saturate(1) opacity(0.6);
    margin: 2% 0 0 0;
    width: 100%;
  }

  .project-pics {
    width: 100%;
  }

  section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }  


  #first-project, #second-project, #third-project {
    width: calc( (100% - (1*2*30%)) / 1);
    margin: 5% 30% 0 30%;
  }  

  h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: calc(14px + (40 - 18) * ((100vw - 300px) / 700));
    color: #74818d;
    line-height: 0em;
  }

  section h1 {
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 4%;
  }

  article {
    font-family: 'Roboto Slab', serif;
    font-size: calc(8px + (22 - 8) * ((100vw - 300px) / 700));
    color: #2d3c49;
  }

  article {
    border-style:inset;
    padding: 1%;
    width: 41%;
    margin: 2%;
  }

  .main-caption-font {
    font-size: calc(14px + (34 - 14) * ((100vw - 300px) / 700));
    color: black;
}

.special-font {
  font-size: calc(18px + (32 - 18) * ((100vw - 300px) / 700));
  color: #c132bb;
  line-height: 0em;
}  

#second-section a.main-caption-font {
    display: block;
    text-align: center;
    margin: 2%;
  }
  
  #second-section p.main-caption-font {
    color: #0b454d;
    text-align: center;
    line-height: 1em;
    margin: 2%;
  }


  a:link { 
    text-decoration: none;
   }
   
   /* Special effect for laptop/PCs when the mouse pointer 
   hovers over the link text
   */
   
   a.main-caption-font:hover {
     font-family: 'Rock Salt', cursive;
     font-size: calc(14px + (28 - 14) * ((100vw - 300px) / 700));
     color: #c132bb;
     background-color: #b0b0e8;
   }
   
   .project-pics:hover {
     box-shadow: 8px 8px 8px #777777;
   }
   
   /* Special effect for when the image is pressed on or cliked 
   by the user */
   
   .project-pics:active {
     opacity: 0.1;
   }