body {
    width: 100%;
}

main,header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;    
  }

  #main-logo img {
    width: 100%;
  }
  
  #main-logo {
    width: 15%;
  }
  
  #main-header-text {
    width: 82%;
    margin: 1%;
  }  

  #main-header-text>h1 {
    text-align: right;
  }
  
  #main-header-text>p.main-caption-font {
    text-align: right;
    line-height: 1.0em;
  }

  #bottom-main-part {
    width:100%;
    border-bottom-color: #7d97ad;
    border-bottom-style: groove;
  }

  picture#main-display img {
    filter: saturate(1) opacity(0.6);
    margin: 2% 0 0 0;
    width: 100%;
  }

  .project-pics {
    width: 100%;
  }

  section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }  

  h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    color: #74818d;
    line-height: 0em;
  }

  section h1 {
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 4%;
  }

  article {
    font-family: 'Roboto Slab', serif;
    font-size: 10px;
    color: #2d3c49;
  }

  article {
    border-style:inset;
    padding: 1%;
    width: 41%;
    margin: 2%;
  }

  .main-caption-font {
    font-size: 14px;
    color: black;
}

.special-font {
  font-size: 18px;
  color: #c132bb;
  line-height: 0em;
}  

#second-section a.main-caption-font {
    display: block;
    text-align: center;
    margin: 2%;
  }
  
  #second-section p.main-caption-font {
    color: #0b454d;
    text-align: center;
    line-height: 1em;
    margin: 2%;
  }


