* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.3;
}

body {
    font-family: Optima, Calibri, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    clear: both;
}

.container::after {
    content: "";
    display: block;
    clear: both;
}

    
.header {
    background: url(./images/landing-page-header-bg.jpg);
    background-attachment: fixed;
    background-position: right center;
    background-size: cover;
    padding-bottom: 1em;
    width: 100vw;
}

.header-image {
    float: left;
    width: 33%;
    margin-top: 3em;
    padding-right: 3em;
    text-align: right;
}

.header-info {
    float: right;
    width: 67%;
    margin-top: 4em;
    color: white;
}

.surtitle {
    font-weight: bold;
    font-variant: small-caps;
}

.title {
    margin: .25em 0;
    font-size: 3em;    
}

.subtitle {
    margin: .5em 0 1.5em;
    font-size: 1.25em;    
}

.intro {
    margin: .5em 0 1.5em;
    font-size: 1.25em;    
}

.btn {
    max-height: 2.5em;
    border: none;
    padding: .75em 1.25em;
    font-family: inherit;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: darkorchid;
}

.description {
    width: 100%;
    padding: 1em 0;
    font-size: 1.25em;
    background-color: white;
}