* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.3;
}

body {
    font-family: Optima, Calibri, sans-serif;
}
    
.header {
    background-image: url(./images/landing-page-header-bg.jpg);
    background-attachment: fixed;
    background-position: right center;
    background-size: cover;
    padding-bottom: 1em;
    width: 100vw;
    height: 100vh;
}