
body {
  width: 100%;
}

main,header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;    
}

#main-logo img {
  width: 100%;
}

#main-logo {
  width: 15%;
}

#main-header-text {
  width: 82%;
  margin: 1%;
}

#bottom-main-part {
  width:100%;
  border-bottom-color: #7d97ad;
  border-bottom-style: groove;
}

picture#main-display img {
  filter: saturate(1) opacity(0.6);
  margin: 2% 0 0 0;
  width: 100%;
}


.project-pics {
  width: 100%;
}

section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/*
Assuming equal left and right margins, and taking into account the <div>  project items that need to be aligned on one line.

calc( (100% - ( (project items*2*margin) )) / project items)

*/

#first-project, #second-project, #third-project {
  width: calc( (100% - (1*2*30%)) / 1);
  margin: 5% 30% 0 30%;
}

/* calc is used to enable typography that scales with the view port
for responsive design:

Mathematical formulap provided by Mike Riethmuller:
https://css-tricks.com/books/volume-i/scale-typography-screen-size/

https://www.madebymike.com.au/writing/fluid-type-calc-examples/
*/


h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: calc(14px + (40 - 18) * ((100vw - 300px) / 700));
  color: #74818d;
  line-height: 0em;
}

article {
  font-family: 'Roboto Slab', serif;
  font-size: calc(8px + (22 - 8) * ((100vw - 300px) / 700));
  color: #2d3c49;
}

.main-caption-font {
    font-size: calc(14px + (34 - 14) * ((100vw - 300px) / 700));
    color: black;
}

.special-font {
  font-size: calc(18px + (32 - 18) * ((100vw - 300px) / 700));
  color: #c132bb;
  line-height: 0em;
}

#main-header-text>h1 {
  text-align: right;
}

#main-header-text>p.main-caption-font {
  text-align: right;
  line-height: 1.0em;
}

section h1 {
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin: 4%;
}

#second-section a.main-caption-font {
  display: block;
  text-align: center;
  margin: 2%;
}

#second-section p.main-caption-font {
  color: #0b454d;
  text-align: center;
  line-height: 1em;
  margin: 2%;
}

article {
  border-style:inset;
  padding: 1%;
  width: 41%;
  margin: 2%;
}

a:link { 
 text-decoration: none;
}

/* Special effect for laptop/PCs when the mouse pointer 
hovers over the link text
*/

a.main-caption-font:hover {
  font-family: 'Rock Salt', cursive;
  font-size: calc(14px + (28 - 14) * ((100vw - 300px) / 700));
  color: #c132bb;
  background-color: #b0b0e8;
}

.project-pics:hover {
  box-shadow: 8px 8px 8px #777777;
}

/* Special effect for when the image is pressed on or cliked 
by the user */

.project-pics:active {
  opacity: 0.1;
}

/* Media queries for changing font-family according to 
different screen sizes */

@media screen and (max-width: 500px) {

  .main-caption-font {
    font-family: 'Ubuntu Mono', monospace;
  }

  .special-font {
    font-family: 'Nanum Pen Script', cursive;
  }
  
}


@media screen and (min-width: 501px) {

  .main-caption-font {
        font-family: 'Inconsolata', monospace;
  }

  .special-font {
    font-family: 'Gloria Hallelujah', cursive;
  }
  
  
  #first-project, #second-project {
    width: calc( (100% - ( (2*2*5%) )) / 2);
    margin: 5% 5% 0 5%;
  }

}


@media screen and (min-width: 800px) {
  
  .main-caption-font {
        font-family: 'Source Code Pro', monospace;
  }

  .special-font {
    font-family: 'Rock Salt', cursive;
  }
  
  
  #first-project, #second-project, #third-project {
    width: calc( (100% - ( (3*2*2%) )) / 3);
    margin: 2% 2% 0 2%;
  }
}    

/* Bound scaling the display area once the screen reaches
this limit */

@media screen and (min-width: 1100px) {

  main,header {
    width: 1100px;
    margin: 0 auto;

  }
  
}

