body {
    width: 100%;
}

main,header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;    
  }

  #main-logo img {
    width: 100%;
  }
  
  #main-logo {
    width: 15%;
  }
  
  #main-header-text {
    width: 82%;
    margin: 1%;
  }  

  #main-header-text>h1 {
    text-align: right;
  }
  
  #main-header-text>p.main-caption-font {
    text-align: right;
    line-height: 1.0em;
  }

  #bottom-main-part {
    width:100%;
    border-bottom-color: #7d97ad;
    border-bottom-style: groove;
  }

  picture#main-display img {
    filter: saturate(1) opacity(0.6);
    margin: 2% 0 0 0;
    width: 100%;
  }


  .main-caption-font {
    font-size: 14px;
    color: black;
}

.special-font {
  font-size: 18px;
  color: #c132bb;
  line-height: 0em;
}  


